#chatBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
}

#chatPopup {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 350px;
  height: 450px;
}

iframe {
  width: 100%;
  height: 100%;
}
